body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: black;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    touch-action: none;
}

h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 0.8rem;
}